@use '../../components/Layout/Layout.scss' as layout;

.catalog {
  position: relative;

  &__body {
    padding: 16px 0 64px;

    @include layout.breakpoint(lg) {
      padding: 16px 0 56px;
    }

    @include layout.breakpoint(md) {
      padding: 16px 0 48px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;

    @include layout.breakpoint(md) {
      column-gap: 40px;
      max-width: 500px;
      margin: 0 auto;
    }
  }

  &__button {
    margin-top: 64px;

    @include layout.breakpoint(lg) {
      margin-top: 56px;
    }

    @include layout.breakpoint(md) {
      margin-top: 48px;
    }
  }

  &__loading .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__loading .loading__spinner {
    border-width: 4px;
    width: 50px;
    height: 50px;
  }
}
