*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
  max-width: 100%;
  object-fit: cover;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

body {
  height: 100%;
  line-height: 1.5;
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

@mixin breakpoint($size) {
  @if $size ==lg {
    @media screen and (max-width: 1199.98px) {
      @content;
    }
  } @else if $size ==md {
    @media screen and (max-width: 991.98px) {
      @content;
    }
  } @else if $size ==sm {
    @media screen and (max-width: 767.98px) {
      @content;
    }
  } @else if $size ==xs {
    @media screen and (max-width: 575.98px) {
      @content;
    }
  }
}

._container {
  max-width: 1214px;
  margin: 0 auto;
  padding: 0 15px;

  @include breakpoint(lg) {
    max-width: 958px;
  }
}

.text-danger {
  display: flex;
  justify-content: center;
  color: red;
}

.genre-style {
  position: relative;
  color: #b6b2af;
}

.genre-style:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #afb2b6;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  margin-left: -12px;
}

.poster img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.form {
  & > :not(:last-child) {
    margin-bottom: 24px;

    @include breakpoint(xs) {
      margin-bottom: 20px;
    }
  }
}

.input-field {
  color: #ffffff;
  border-radius: 10px;
  background-color: #323537;
  height: 56px;
  padding: 16px 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-radius: 10px;
  cursor: pointer;
}

.button-submit {
  background-color: #7b61ff;
  color: inherit;
  font-size: inherit;
}

.button-disabled {
  background-color: #7b7b7e;
  cursor: default;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;

  @include breakpoint(xs) {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
