@use '../Layout/Layout.scss' as layout;

.search {
  margin-left: auto;
  margin-right: 40px;

  @include layout.breakpoint(lg) {
    margin-right: 30px;
  }

  @include layout.breakpoint(sm) {
    margin-right: 20px;
  }

  @include layout.breakpoint(xs) {
    flex: 0 1 100%;
    order: 2;
    margin-right: 0px;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    min-height: 56px;
    padding: 16px 16px 16px 20px;
  }

  &__input {
    outline: none;
    color: white;
    font-size: 16px;
    width: 572px;

    @include layout.breakpoint(lg) {
      width: 520px;
    }

    @include layout.breakpoint(md) {
      width: 360px;
    }

    @include layout.breakpoint(sm) {
      width: 100%;
    }
  }

  &__filter {
    cursor: pointer;
  }
}
