@use '../../components/Layout/Layout.scss' as layout;

.auth-form {
  &__body {
    border-radius: 10px;
    max-width: 574px;
    margin: 54px auto 87px;
    padding: 40px;

    @include layout.breakpoint(xs) {
      margin: 20px auto 48px;
      padding: 24px;
    }
  }

  &__input {
    border-radius: 10px;
    width: 100%;
    height: 56px;
    padding: 16px 20px;
  }

  &__hint {
    font-size: 14px;
    margin-top: 8px;
  }

  .password-input-container {
    position: relative;
    width: 100%;
  }

  .auth-form__input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .auth-form__button-show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    font-size: 18px;
    cursor: pointer;
  }

  &__button {
    width: 100%;
    margin: 40px 0 32px;

    @include layout.breakpoint(xs) {
      margin: 32px 0 24px;
    }
  }

  &__text {
    text-align: center;

    @include layout.breakpoint(xs) {
      font-size: 14px;
    }
  }

  &__text span {
    color: #7b61ff;
  }

  &__error {
    display: block;
    color: red;
    font-size: 12px;
    margin: 5px 0 0 10px;

    @include layout.breakpoint(sm) {
      font-size: 12px;
    }
  }
}

///////////////////// theme
.dark-theme {
  background-color: #242426;
}

.light-theme {
  background-color: #ffffff;
  color: #242426;
}

.input-dark-theme {
  background-color: #323537;
  color: #ffffff;
}

.input-light-theme {
  background-color: transparent;
  border: 1px solid #afb2b6;
  color: #323537;
}

/* Стили для автозаполненного поля темной темы */
.input-dark-theme:-webkit-autofill,
.input-dark-theme:-webkit-autofill:hover,
.input-dark-theme:-webkit-autofill:focus,
.input-dark-theme:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #323537 inset; /* фон */
  -webkit-text-fill-color: #ffffff; /* цвет текста */
  caret-color: #ffffff; /* цвет курсора */
  transition: background-color 5000s ease-in-out 0s;
}

/* Стили для автозаполненного поля светлой темы */
.input-light-theme:-webkit-autofill,
.input-light-theme:-webkit-autofill:hover,
.input-light-theme:-webkit-autofill:focus,
.input-light-theme:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset; /* фон */
  -webkit-text-fill-color: #242426; /* цвет текста */
  caret-color: #242426; /* цвет курсора */
  transition: background-color 5000s ease-in-out 0s;
}
