@use '../Layout/Layout.scss' as layout;

.catalog-card {
  &__body {
    width: 266px;
    min-height: 458px;

    @include layout.breakpoint(lg) {
      width: 208px;
      min-height: 405px;
    }

    @include layout.breakpoint(xs) {
      width: 272px;
      min-height: 100%;
    }
  }

  &__poster-wrapper {
    position: relative;
  }

  &__poster {
    height: 357px;

    @include layout.breakpoint(lg) {
      height: 279px;
    }

    @include layout.breakpoint(xs) {
      height: 366px;
    }
  }

  &__year {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-flex;
    background-color: #00a340;
    border-radius: 6px;
    padding: 2px 8px;
  }

  &__title {
    font-weight: 700;
    margin: 24px 0 4px;

    @include layout.breakpoint(xs) {
      margin: 20px 0 4px;
    }
  }

  &__genres {
    display: flex;
    gap: 20px;
  }
}
