@use '../Layout/Layout.scss' as layout;

.filters {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 20px;
  background-color: #242426;
  max-width: 518px;
  height: 100vh;

  @include layout.breakpoint(xs) {
    min-width: 100%;
  }

  &__body {
    padding: 48px 40px;
    height: 100%;
    overflow-y: auto;

    @include layout.breakpoint(xs) {
      padding: 32px 24px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;
  }
}

.form {
  &__separator {
    width: 100%;
    height: 1px;
    background-color: #80858b;
  }

  &__input {
    width: 100%;
  }

  &__input_wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input_small {
    width: 46%;
  }

  &__input_select {
    appearance: none;
    background-image: url('../../assets/icons/select_sign.svg');
    background-repeat: no-repeat;
    background-position: right 20px center;
  }

  &__buttons-group {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;

    @include layout.breakpoint(xs) {
      flex-direction: column;
      gap: 16px;
      margin-top: 40px;
    }
  }

  &__button {
    background-color: #323537;
    width: 199px;

    @include layout.breakpoint(xs) {
      width: 100%;
    }
  }

  &__button_disable {
    background-color: #242426;
    color: #80858b;
    border: #323537 2px solid;
  }

  &__button_active {
    background-color: #7b61ff;
    color: inherit;
    font-size: inherit;
  }
}

.option {
  &__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #80858b 1px solid;
    margin-top: 8px;

    @include layout.breakpoint(xs) {
      max-width: 260px;
    }

    & > :not(:last-child) {
      border-right: #80858b 1px solid;
    }
  }

  &__default-button {
    display: none;
  }

  &__new-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 56px;

    @include layout.breakpoint(xs) {
      width: 130px;
    }
  }
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border-radius: 10px;
  background-color: #323537;
  padding: 16px 20px;

  &__tag {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #242426;
    border-radius: 5px;
    padding: 4px 8px;
  }
}

.form * {
  outline: none;
}
