@use '../Layout/Layout.scss' as layout;

.filters {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border-radius: 20px;
  background-color: #242426;
  max-width: 518px;
  height: 100vh;

  @include layout.breakpoint(xs) {
    min-width: 100%;
  }

  &__body {
    padding: 48px 40px;
    height: 100%;
    overflow-y: auto;

    @include layout.breakpoint(xs) {
      padding: 32px 24px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    cursor: pointer;
  }
}

.option {
  &__items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: #80858b 1px solid;
    margin-top: 8px;

    @include layout.breakpoint(xs) {
      max-width: 260px;
    }

    & > :not(:last-child) {
      border-right: #80858b 1px solid;
    }
  }

  &__default-button {
    display: none;
  }

  &__new-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 219px;
    height: 56px;

    @include layout.breakpoint(xs) {
      width: 130px;
    }
  }
}

.genre {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  border-radius: 10px;
  background-color: #323537;
  padding: 16px 20px;

  &__tag {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #242426;
    border-radius: 5px;
    padding: 4px 8px;
  }
}

.form * {
  outline: none;
}
